<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły samochodu</h2>

    <form class="form">
        <label for="marka">Marka:</label>
        <input type="text" id="marka" value="<%= car.marka %>" id="marka" disabled />
        <span></span>

        <label for="typ">Typ:</label>
        <input type="text" id="typ" value="<%= car.typ %>" id="typ" disabled />
        <span></span>

        <label for="numer_rejestracyjny">Numer rej.:</label>
        <input type="text" id="numer_rejestracyjny" value="<%= car.numer_rejestracyjny %>" id="numer_rejestracyjny" disabled />
        <span></span>

        <label for="rok_produkcji">Rok produkcji :</label>
        <input type="text" id="rok_produkcji" value="<%= car.rok_produkcji %>" id="rok_produkcji" disabled />
        <span></span>

        <label for="pojemnosc">Pojemność:</label>
        <input type="text" id="pojemnosc" value="<%= car.pojemnosc %> cm3" id="pojemnosc" disabled />
        <span></span>
    </form>

    <div class="section-buttons" style="margin-top: 30px">
        <a href="/cars/<%= car.id %>/edit"class = "list-actions-button-edit">Edytuj</a>
    </div>

    <h2>Zlecenia naprawy</h2>

    <table class="table-list">
        <thead>
            <tr>
                <th>ID Zlecenia</th>
                <th>Nazwa Warsztatu</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Rodzaj Naprawy</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            <% if(repairOrders && repairOrders.length > 0) { %>
                <% repairOrders.map(order => { %>
                    <tr>
                        <td><%= order.id%></td>
                        <td><%= order.Workshop.nazwa %></td>
                        <td><%= order.opis %></td>
                        <td><%= order.status %></td>
                        <td><%= order.RepairType.nazwa %></td>
                        <td><%= order.RepairType.cena %> zł</td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="100%" style="text-align: center;">Ten samochód nie ma żadnych zleceń naprawy.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
        <div class="section-buttons" >
            <a href="/cars"class = "list-actions-button-details">Powrót</a>
        </div>


</main>
<%- include('../../fragments/footer.ejs') %>
