<%- include('../../fragments/header.ejs') %>
<script defer type="application/javascript" src="../../js/validationCommon.js"></script>
<script defer type="application/javascript" src="../../js/validationSamochodForm.js"></script>
<main>
    <h2>Edytuj samochód</h2>

    <% if(successMessage) { %>
        <div class="successMessage max450"><%- successMessage %></div>
    <% } %>

    <% if(errorMessage) { %>
        <div class="errorMessage max450"><%- errorMessage %></div>
    <% } %>

    <p id="errorsSummary"></p>

    <form
        novalidate
        class="form"
        method="post"
        action="/cars/<%- car.id %>/edit"
        onsubmit="return validateForm();"
    >

        <label for="marka">Marka: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="marka" id="marka" placeholder="2-15 znaków" value="<%= car.marka %>" />
        <span id="errorMarka" class="errors-text"></span>

        <label for="typ">Typ: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="typ" id="typ" placeholder="2-15 znaków" value="<%= car.typ %>" />
        <span id="errorTyp" class="errors-text"></span>

        <label for="numerRejestracyjny">Numer rej: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="numer_rejestracyjny" id="numerRejestracyjny" placeholder="np. WJ3451TRK" value="<%= car.numer_rejestracyjny %>" />
        <span id="errorNumerRejestracyjny" class="errors-text"></span>

        <label for="rokProdukcji">Rok produkcji: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="year" name="rok_produkcji" id="rokProdukcji" placeholder="np. 2020" value="<%= car.rok_produkcji %>" />
        <span  id="errorRokProdukcji" class="errors-text"></span>

        <label for="pojemnosc">Pojemność: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="pojemnosc" id="pojemnosc" placeholder="np. 2500" value="<%= car.pojemnosc %>" />
        <span id="errorPojemnosc" class="errors-text"></span>

        <div class="form-buttons" >
            <p id="errorsSummary" class="errors-text"></p>
            <input class="form-button-submit" type="submit" value="Zapisz" />
            <a class="form-button-cancel" href="/cars">Anuluj</a>
        </div>

    </form>

</main>
<%- include('../../fragments/footer.ejs') %>
