<%- include('../../fragments/header.ejs') %>
<script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script defer type="application/javascript" src="/js/deleteConfirmation.js"></script>
<main>
    <h2>Lista samochodów</h2>

    <% if(successMessage) { %>
        <div class="successMessage"><%- successMessage %></div>
    <% } %>

    <% if(errorMessage) { %>
        <div class="errorMessage"><%- errorMessage %></div>
    <% } %>

    <table class="table-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>Marka</th>
                <th>Typ</th>
                <th>Numer rejestracyjny</th>
                <th>Rok produkcji</th>
                <th>Pojemność</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <% if(cars && cars.length > 0) { %>
                <% cars.map(car => { %>
                    <tr>
                        <td><%= car.id %></td>
                        <td><%= car.marka %></td>
                        <td><%= car.typ %></td>
                        <td><%= car.numer_rejestracyjny %></td>
                        <td><%= car.rok_produkcji %></td>
                        <td><%= car.pojemnosc %></td>
                        <td>
                            <ul class ="list-actions">
                                <li>
                                    <a href="/cars/<%- car.id %>/details" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/cars/<%- car.id %>/edit" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <form method="post" id="car-<%- car.id %>" action="/cars/<%- car.id %>/delete">
                                        <button onclick="confirmDelete('car-<%- car.id %>')" type="button" class="list-actions-button-delete">Usuń</button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="100%" style="text-align: center;">W systemie nie ma jeszcze żadnych samochodów.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <p><a class="button-add" href="/cars/add">Dodaj nowy samochód</a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>
