<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edycja użytkownika</h2>
    <form class="form">

        <label for="rola">Rola:<sup></sup></label>
        <select name="role" id="rola" value="<%- user.roleId %>">
            <% roles.map(role => { %>
                <option value="<%- role.id %>"><%= role.name %></option>
            <% }) %>
        </select>
        <span></span>

        <label for="email">Email:<sup></sup></label>
        <input type="email" name="email" value="<%= user.email %>" id="email" />
        <span></span>

        <label for="haslo">Hasło:<sup></sup></label>
        <input type="text" name="haslo" value=""" id="haslo" />
        <span></span>

        <div class="form-buttons" >
            <input class="form-button-submit" type="submit" value="Zapisz"/>
            <a class="form-button-cancel" href="/users">Anuluj</a>
        </div>

    </form>
</main>
<%- include('../../fragments/footer.ejs') %>
