<%- include('../../fragments/header.ejs') %>
<script defer type="application/javascript" src="/js/validationCommon.js"></script>
<script defer type="application/javascript" src="/js/validationUser.js"></script>
<main>
    <h2>Edycja użytkownika</h2>

    <% if(successMessage) { %>
        <div class="successMessage max450"><%- successMessage %></div>
    <% } %>

    <% if(errorMessage) { %>
        <div class="errorMessage max450"><%- errorMessage %></div>
    <% } %>

    <p id="errorsSummary"></p>

    <form
        novalidate
        method="post"
        class="form"
        action="/users/<%- user.id %>"
        onsubmit="return validateForm();"
    >
        <label for="role">Rola:</label>
        <select name="role" id="role" value="<%- user.RoleId %>">
            <% roles.map(role => { %>
                <option value="<%- role.id %>" <% if(role.id == user.RoleId) { %>selected<% } %>><%= role.name %></option>
            <% }) %>
        </select>
        <span id="errorRole" class="form-error"></span>

        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= user.email %>" id="email" />
        <span id="errorEmail" class="form-error"></span>

        <label for="password">Hasło:</label>
        <input type="text" name="password" value="" id="password" />
        <span id="errorPassword" class="form-error"></span>

        <div class="form-buttons" >
            <input class="form-button-submit" type="submit" value="Zapisz"/>
            <a class="form-button-cancel" href="/users">Anuluj</a>
        </div>

    </form>
</main>
<%- include('../../fragments/footer.ejs') %>
