<%- include('../../fragments/header.ejs') %>
<script defer type="application/javascript" src="/js/validationCommon.js"></script>
<script defer type="application/javascript" src="/js/validationWarsztatForm.js"></script>
<main>
    <h2>Nowy warsztat</h2>

    <% if(successMessage) { %>
        <div class="successMessage max450"><%- successMessage %></div>
    <% } %>

    <% if(errorMessage) { %>
        <div class="errorMessage max450"><%- errorMessage %></div>
    <% } %>

    <p id="errorsSummary"></p>

    <form
        novalidate
        class="form"
        method="post"
        action="/workshops"
        onsubmit="return validateForm();"
    >

        <label for="nazwa">Nazwa warsztatu:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="nazwa" id="nazwa" placeholder="2-30 znaków" />
        <span id="errorNazwa" class="errors-text"></span>

        <label for="telefon">Telefon:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="telefon" id="telefon" placeholder="np. 507218224" />
        <span id="errorTelefon" class="errors-text"></span>

        <label for="email">E-mail:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="email" name="email" id="email" placeholder="np. nazwa@domena.pl" />
        <span id="errorEmail" class="errors-text"></span>

        <label for="adres">Adres:</label>
        <select name="address_id" id="adres">
            <option value="">--- wybierz adres ---</option>
            <% addresses.map(address => { %>
                <option value="<%- address.id %>">
                    <%= address.ulica %> <%= address.numer_lokalu %>, <%= address.kod_pocztowy %> <%= address.miasto %>
                </option>
            <% }) %>
        </select>
        <span id="errorAdres" class="errors-text"></span>

        <div class="form-buttons" >
            <p id="errorsSummary" class="errors-text"></p>
            <input class="form-button-submit" type="submit" value="Dodaj" />
            <a class="form-button-cancel" href="/workshops">Anuluj</a>
        </div>

    </form>

</main>
<%- include('../../fragments/footer.ejs') %>
