<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły warsztatu</h2>

    <form class="form">

        <label>Nazwa Warsztatu:<sup></sup></label>
        <input type="text" value="<%= workshop.nazwa %>" disabled />
        <span></span>

        <label>Telefon:<sup></sup></label>
        <input type="text" value="<%= workshop.telefon %>" disabled />
        <span></span>

        <label>E-mail:<sup></sup></label>
        <input type="text" value="<%= workshop.email %>" disabled />
        <span></span>

    </form>

    <div class = "section-buttons" >
        <a href="/workshops/<%- workshop.id %>/edit"class = "list-actions-button-edit">Edytuj</a>
    </div>

    <h2>Adres warsztatu</h2>

    <table class="table-list">

        <thead>
            <tr>
                <th>Ulica</th>
                <th>Numer lokalu</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
            </tr>
        </thead>
        <tbody>
            <% if(workshop.Address) { %>
                <tr>
                    <td><%= workshop.Address.ulica %></td>
                    <td><%= workshop.Address.numer_lokalu %></td>
                    <td><%= workshop.Address.kod_pocztowy %></td>
                    <td><%= workshop.Address.miasto %></td>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <h2>Zlecenia napraw</h2>

    <table class="table-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>Marka</th>
                <th>Typ</th>
                <th>Num rej.</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Rodzaj Naprawy</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            <% if(workshop.RepairOrders && workshop.RepairOrders.length > 0) { %>
                <% workshop.RepairOrders.map(order => { %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.Car.marka %></td>
                        <td><%= order.Car.typ %></td>
                        <td><%= order.Car.numer_rejestracyjny %></td>
                        <td><%= order.opis %></td>
                        <td><%= order.status %></td>
                        <td><%= order.RepairType.nazwa %></td>
                        <td><%= order.RepairType.cena %> zł</td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="100%" style="text-align: center;">Ten warsztat nie ma żadnych zleceń naprawy.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
        <div class = "section-buttons" >
            <a href="/workshops"class = "list-actions-button-details">Powrót</a>
        </div>


</main>
<%- include('../../fragments/footer.ejs') %>
