<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header>
    <h1>AutoService CarTu</h1>
    <img src="/images/logo.png" alt="">
</header>

<nav>
    <ul>
        <% var selected = '' %>
        <% if(locals.navLocation !== undefined) { selected = locals.navLocation } %>
        <% if(loggedUser) {%>
            <li><a href="/" class="<%= selected == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/users" class="<%= selected == 'users' ? 'active' : ''%>">Użytkownicy</a></li>
            <li><a href="/cars" class="<%= selected == 'cars' ? 'active' : ''%>">Samochody</a></li>
            <li><a href="/repair-orders" class="<%= selected == 'repair-orders' ? 'active' : ''%>">Zlecenia naprawy</a></li>
            <li><a href="/workshops" class="<%= selected == 'workshops' ? 'active' : ''%>">Warsztaty</a></li>
            <li><a href="/addresses" class="<%= selected == 'addresses' ? 'active' : ''%>">Adresy</a></li>
            <li><a href ="/logout">Wyloguj</a></li>
        <% } else { %>
            <li><a href="/" class="<%= selected == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/register" class="<%= selected == 'register' ? 'active' : ''%>">Rejestracja</a></li>
            <li><a href="/login" class="<%= selected == 'login' ? 'active' : ''%>">Logowanie</a></li>
        <% } %>
    </ul>
</nav>
